<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ezword.ezword">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true" />
        <service android:name=".NotificationService" />
        <provider
            android:name=".database.DictionaryProvider"
            android:authorities="com.ezword.ezword"
            android:exported="false" />

        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.ezword.ezword.activities.SearchableActivity" />
        </activity>
        <activity android:name=".activities.LoadingActivity" />
        <activity android:name=".activities.SearchableActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.RequestSearchActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog">
            <intent-filter android:label="Look Up!">
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SingleWordActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.ListWordActivity" />
        <activity android:name=".activities.ReviseActivity" />
        <activity android:name=".activities.QuizActivity" />
        <activity android:name=".activities.HistoryActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppThemeWithActionBar"/>
        <activity android:name=".activities.BookmarkActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppThemeWithActionBar"/>
    </application>

</manifest>