<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ezword.ezword">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".background.services.AlarmReceiver"
            android:enabled="true" />

        <service android:name=".background.services.NotificationService" />

        <provider
            android:name=".background.database.DictionaryProvider"
            android:authorities="com.ezword.ezword"
            android:exported="false" />

        <activity
            android:name=".ui.main_activities.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.ezword.ezword.activities.SearchableActivity" />
        </activity>
        <activity android:name=".ui.main_activities.SearchableActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.main_activities.RequestSearchActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog">
            <intent-filter android:label="Look Up!">
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main_activities.SingleWordActivity"
            android:parentActivityName=".ui.main_activities.MainActivity" />
        <activity android:name=".ui.main_activities.ReviseActivity" />
        <activity android:name=".ui.main_activities.QuizActivity" />
        <activity
            android:name=".ui.activities.HistoryActivity"
            android:parentActivityName=".ui.main_activities.MainActivity"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".ui.activities.BookmarkActivity"
            android:parentActivityName=".ui.main_activities.MainActivity"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:parentActivityName=".ui.main_activities.MainActivity"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".ui.activities.HelpActivity"
            android:parentActivityName=".ui.main_activities.MainActivity"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".ui.activities.AboutUsActivity"
            android:parentActivityName=".ui.main_activities.MainActivity"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".ui.main_activities.SyncActivity"
            android:parentActivityName=".ui.main_activities.MainActivity"
            android:theme="@style/AppThemeWithActionBar"/>
    </application>

</manifest>